html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.name{
	text-align: center;
}

.navbar-default {
    background-color: #272626;
    height: 100px;
      margin-bottom: 0!important;

}

footer{

	background: #272626;
}

h5, h6{

	color: white;
}
