@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.footer-social-icons {
  text-align: center;
    width: auto;
    display:block;
  
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

.contact-us .text {

  padding-top: 200px;
}
.contact-us{
  background:url(../../assets/img/second-banner.png); 
  background-size:cover;
  border:none;
  height: 500px; 
  width: auto;

}


  .navbar{

      min-height: 80px;
      background: #1e2f3e;
      opacity: 50px;
      border: none;

  }
      .navbar .navbar-nav > li > a {
          font-size: 15px;
          display: inline-block;
          float: none;
          vertical-align: top;
          color: white;
      }




       .navbar .navbar-nav >li > a:hover,
       .navbar .navbar-nav > li > a:focus{
          color: #0096ff;
       }


      .navbar .collapse{
          padding-top: 20px;
          text-align: center;
      }



  #team .row .thumbnail{
  	box-shadow: none;
  	border: none;
  }

  /* ==========================================================================
  Screenshots
  ========================================================================== */
  .screenshots ul {
      margin: 0;
      padding: 100px 0 0px 0;
      width: 100%;
  }
  .screenshots ul li {
      float: left;
      min-height: 100%;
      width: 25%;
      background-color: #000;
      list-style: none;
  }
  .screenshots figure {
      position: relative;
      overflow: hidden;
  }
  .screenshots figure img {
      width: 100%;
      height: 100%;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
  }
  .screenshots figure:hover img, .screenshots figure:focus img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
  }
  .screenshots figcaption {
      position: absolute;
      top: 0;
      left: 0;
      padding: 25% 0;
      width: 100%;
      height: 100%;
      background-color: #616161;
      text-align: center;
      font-size: 15px;
      opacity: 0;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
  }
  .screenshots figcaption a {
      color: #fff
  }
  .screenshots figcaption a:hover, .screenshots figcaption a:focus {
      color: #fff
  }
  .screenshots figure:hover figcaption, .screenshots figure:focus figcaption {
      opacity: .8
  }
  .visible {
      opacity: 1
  }
  .screenshots figure.cs-hover figcaption {
      opacity: 1
  }
  .screenshots figcaption i {
      font-size: 35px
  }
  .screenshots figcaption p {
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 400;
  }
  .screenshots figcaption .caption-content {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -40px;
      margin-left: -100px;
      width: 200px;
      -webkit-transform: translate(0px, 15px);
      -ms-transform: translate(0px, 15px);
      transform: translate(0px, 15px);
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
  }
  .screenshots figure:hover figcaption .caption-content, .screenshots figure:focus figcaption .caption-content {
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
  }
